{% extends 'robots/base.html' %}

{% block page_title %}删除机器人{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <div class="card border-danger">
            <div class="card-header bg-danger text-white">
                <h5 class="mb-0"><i class="bi bi-exclamation-triangle"></i> 确认删除</h5>
            </div>
            <div class="card-body">
                <p>您确定要删除机器人 <strong>{{ robot.name }}</strong> 吗？</p>
                <p class="text-danger">此操作将同时删除该机器人的所有消息记录，且无法恢复！</p>
                
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="bi bi-trash"></i> 确认删除
                    </button>
                    <a href="{% url 'robot_detail' robot.id %}" class="btn btn-secondary">取消</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
